---
import BaseLayout from "./baseLayout.astro"
const { frontmatter } = Astro.props;

const rawContent = await Astro.slots.render('default');
const processedContent = rawContent.replace(/#([^#]+)#/g, '<code class="terminal">$1</code>');
---
<BaseLayout pageTitle={frontmatter.title}>
    <article>
        <header>
            {frontmatter.image && (
                <img src={frontmatter.image.url} alt={frontmatter.image.alt} />
            )}
            <h1>{frontmatter.title}</h1>
            <p>Por {frontmatter.autor} | {frontmatter.pubDate.toString().slice(0, 10)}</p>
        </header>

        <div set:html={processedContent} />
    </article>
</BaseLayout>